<h1>{{title}}<img src="/images/HermitCrabtiny.png"></h1>
<!-- <p>Welcome {{user.username}}!</p> -->
<!-- <p>About Me: {{user.bio}}</p> -->
<script>
  var user = '{{user.username}}';
  var bio = '{{user.bio}}';
</script>
<script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js'></script>
<!-- Your js and css: -->
<!-- <link rel='stylesheet' type='text/css' href='css.css'> -->
<script type="text/javascript" src="/javascripts/models.js"></script>
<script type="text/javascript" src="/javascripts/views.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
